@media only screen and (max-width: 600px) {
  
    nav {
      display: none;
    }

    #vbar, #slogan {
      display: none;
    }

  }

  @media only screen and (min-width: 601px) {

    #bars {
      display: none;
    }

  }

  @media only screen and (min-width: 768px) {

    h1 {
      font-size: 2em;
    }

    h2, h3 {
      font-size: 1.5em;
    }

    h5 {
      font-size: 1em;
    }

    p, label, .button, input, .input-val {
      font-size: 1em; 
    }

    .nav-links {
      font-size: 1.3em;
    }

    footer ul li {
      font-size: 1em;
    }

    form {
      margin: 1em 6em;
      padding: 1em
    }
   
  }


  