body {
    font-family: 'Gemunu Libre', sans-serif;
    background-color:#b01336;
    box-sizing: content-box;
}


#container {
    display: flex;
    flex-direction: column;
}

/*---- Basic elements ----*/

h2 a .content-links {
    color: #ffffff;
}

#vbar {
    color:#c72c41;
}

#slogan {
    color: #ee4540;
}

.content-links {
    text-decoration: none;
}

.content-links:visited {
    color: #ffffff;
}

/*------ Header -----*/

header {
    display: flex;
    color: #ffffff;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    background-color: #2d142c;
}

/*-----Navbar-----*/

nav {
    background-color: #510a32;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    height: 2rem;
    align-items: center;
}

.nav-links {
    text-decoration: none;
    color: #ffffff;
}

.nav-links:hover {
    color:#ee4540;
}

/*----- Main Conent -----*/

#main-content {
    max-width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    background-color:#b01336;
    align-items: center;
}

#main-content > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-self: center;
    flex-basis: 30rem;
    flex-grow: 1;
    margin: 1rem;
    padding: 1rem;
    background-color: #c72c41;
}

img {
    width: 100%;
}

/*----Sub Content----*/ 

#sub-content {
    display: flex;
    flex-wrap: wrap;
    margin: 0 1rem;
    background-color:#c72c41;
    margin-bottom: 1rem;
    
}

#sub-content > div {
    flex-basis: 15rem;
    flex-grow: 1;
    margin: 1rem;
    padding: 1rem;
}

.s-content-1 {
    background-image: url(../images/windows-11.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.s-content-2 {
    background-image: url(../images/lakers.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.s-content-3 {
    background-image: url(../images/tik-tok.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.s-content-4 {
    background-image: url(../images/google.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/*---- Footer----*/

footer {
    background-color: #2d142c;
    color: #ffffff;
    
}

footer ul {
    display: flex;
    justify-content: center;
    list-style: none;
    height: 2rem;
    align-items: center;
}

footer ul li {
    margin: 0 1rem;
    opacity: 0.5;
}


/*-----Media queries----*/ 

@media only screen and (min-width: 600px) {
    #bars {
        display: none;
      /*
      visibility: hidden;
      */
    }
  }

  @media only screen and (max-width: 600px) {
    #vbar, #slogan {
        display: none;
    }

  }
/*
  @media (min-width: 480px) {
    .img-1 {
        max-width: 100%;
    }
    */
