body {
    font-family: 'Gemunu Libre', sans-serif;
    background-color:#b01336;
}


#container {
    display: flex;
    flex-direction: column;
}

/*---- Basic elements ----*/

h2 a .content-links {
    color: #ffffff;
}




#vbar {
    color:#c72c41;
}

#slogan {
    color: #ee4540;
}

.content-links {
    text-decoration: none;
}

.content-links:visited {
    color: #ffffff;
}

/*------ Header -----*/

header {
    display: flex;
    color: #ffffff;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    background-color: #2d142c;
}

/*-----Navbar-----*/

nav {
    background-color: #510a32;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    height: 2rem;
    align-items: center;
}

.nav-links {
    text-decoration: none;
    color: #ffffff;
}

.nav-links:hover {
    color:#ee4540;
}

/*----- Main Conent -----*/

#main-content {
    display: flex;
    flex-wrap: wrap;
    background-color:#b01336;
    align-items: center;
}

#main-content > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-basis: 30rem;
    flex-grow: 1;
    height: 30rem;
    margin: 1rem;
    padding: 1rem;
    background-color: #c72c41;
}

figure {
    margin: 0;
}

figure img {
    max-width: 100%;
    object-fit: cover;
}

.m-content {

}

/*----Sub Content----*/ 

#sub-content {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
    background-color:#b01336;
    
}

#sub-content > div {
    flex-basis: 15rem;
    flex-grow: 1;
    height: 15rem;
    margin: 1rem;
    padding: 1rem;
    background-color: #c72c41;
}


/*---- Footer----*/

footer {
    background-color: #2d142c;
    color: #ffffff;
    
}

footer ul {
    display: flex;
    justify-content: center;
    list-style: none;
    height: 2rem;
    align-items: center;
}

footer ul li {
    margin: 0 1rem;
    opacity: 0.5;
}


/*-----Media queries----*/ 

@media only screen and (min-width: 600px) {
    #bars {
        display: none;
      /*
      visibility: hidden;
      */
    }
  }

  @media only screen and (max-width: 600px) {
    #vbar, #slogan {
        display: none;
    }

  }