/*----- Sub Page -----*/

form {
    display: flex;
    flex-direction: column;
    margin: 0.5em 3em;
    padding: 0.5em;
    background-color: #c72c41;
}

label {
    margin-bottom: 0.2em;
    font-size: 1em;
    color: #FFFFFF;
}

input {
    margin-top: 0.5em;
    width: 100%;
    border: 0em;
    border-radius: 0.2em;
    font-size: 1em;
    color: #1E2328;
}

.input-val {
    font-family: sans-serif;
    font-size: 0.8em;
    color:#1E2328;
    opacity: 0;
}

#h2-sub-page-link {
    margin: 0;
    padding: 0.5em 0;
    background-color:#C72C41;
    text-align: center;
}

#h2-sub-page, #h3-sub-page {
    margin: 1em 0;
    text-align: center;
}

#form-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 15em;
    padding: 0 1em;
}

.fields {
    display: flex;
    flex-direction: column;
    padding: 1em;
    height: 4.5em;
}

#button {
    align-self: center;
    margin-top: 1em;
    padding: 1em;
    background-color: #1E2328;
    font-size: 1em;
    border: 0em;
    border-radius: 0.5em;
    color: #FFFFFF;
}